* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(153, 142, 142);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** --------HEADER---------**/
.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-collapse {
    flex-grow: 0;
}

header nav div a img {
    width: 220px;
    height: 150px;
}

header nav ul {
    list-style: none;
    width: 600px;
    justify-content: space-between;
    margin-right: 50px;
}

header nav div div ul li {
    background-color: rgb(206, 191, 191);
    margin: 10px;
    box-sizing: content-box;
    border: solid #000000 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border-style: groove;
    align-self: center;
}

header nav ul li:hover {
    border: solid white 5px;
    border-style: groove;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/**                                                         INDEX                                                 **/
/**-------------- MAIN-------------**/

/** -------------Sec1--------------**/


.carousel{
    background-color: #00000000;
}
.carousel-inner{
    
}
.carousel-caption p {
    background-color: #00000000;
    color: aliceblue;
    text-shadow: 3px 4px 4px #000000;
    font-weight: 600;
    font-size: 30px;
    width: 650px;
    height: 600px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.carousel-caption h5 {
    width: fit-content;
    padding: 0px 10px 5px 10px;
    background-color: rgb(112, 128, 144);
    color: aliceblue;
    border-radius: 5px;
    text-shadow: 3px 4px 4px #000000;
    font-size: 45px;
    font-weight: 400;
    position: absolute;
    left: 50%;
}

.carousel-item {
    position: relative;
}

.carousel-indicators {
    background-color: #00000000;
}

.carousel-caption {
    background-color: #00000000;
    position: absolute;
    top: 10%;
    left: 58%;
}


.carousel-item img {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    box-shadow: 12px 10px 10px rgba(48, 47, 47, 0.619), -12px -10px 10px rgb(48, 47, 47, 0.619), -12px 10px 10px rgb(48, 47, 47, 0.619), 12px -10px 10px rgb(48, 47, 47, 0.619);
}

.carousel-control-next-icon {
    background-color: #000000;
    border-radius: 5px;
}

.carousel-control-prev-icon {
    background-color: #000000;
    border-radius: 5px;
}


/* -------------Sec3--------------*/
.sec2 {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 300px 100px 400px 100px 400px;
    grid-template-areas:
        "titulo titulo"
        ". subtit1"
        "foto1 parrafo1"
        ". subtit2"
        "foto2 parrafo2"
    ;
    padding-bottom: 30px;
}

.titulo {
    grid-area: titulo;
}

.tit1 {
    grid-area: subtit1;
}

.tit2 {
    grid-area: subtit2;
}

.div1 {
    grid-area: foto1;
}

.text1 {
    grid-area: parrafo1;
}

.div2 {
    grid-area: foto2;
}

.text2 {
    grid-area: parrafo2;
}

.sec2 h2 {
    width: fit-content;
    background-color: rgb(112, 128, 144);
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    font-size: 50px;
    font-weight: 700;
    padding: 0px 10px 0px 10px;
    margin-bottom: 50px;
}

.sec2 h3 {
    width: fit-content;
    height: fit-content;
    background-color: rgb(206, 191, 191);
    border-radius: 20px;
    justify-self: center;
    display: flex;
    font-size: 35px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.sec2 p {
    display: flex;
    font-size: 30px;
    font-weight: 400;
    text-align: justify;
    align-self: center;
    margin-right: 50px;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.sec2 div img {
    padding: 50px;
    width: 400px;
    height: auto;
    border-radius: 50%;
    background-color: rgb(112, 128, 144);
    padding: 20px;

}

/** -------------Sec2--------------**/
.barra-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 6fr;
    grid-template-rows: 47% 6% 47%;
    grid-template-areas:
        "imagen1 . imagen3 . imagen5 ."
        "barra barra barra barra barra barra"
        ". imagen2 . imagen4 . imagen6"
    ;
}

.im1 {
    grid-area: imagen1;
}

.im2 {
    grid-area: imagen2;
}

.im3 {
    grid-area: imagen3;
}

.im4 {
    grid-area: imagen4;
}

.im5 {
    grid-area: imagen5;
}

.im6 {
    grid-area: imagen6;
}

.barra {
    grid-area: barra;
}

.sec3 h2 {
    font-size: 50px;
    text-align: center;
}

.barra-grid div img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(24, 24, 24, 0.651);
    margin-bottom: 10px;
}

.barra-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-grid div:not(.barra) {
    flex-direction: column;
}

.barra-grid div h3 {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0px 5px 0px 5px;
    margin-bottom: 5px;
    text-align: center;
}

.barra-grid div p {
    background-color: #00000000;
    text-align: center;
    font-size: 15px;
}

.barra p {
    font-weight: 300;
    font-size: 20px;
}


.barra-grid div input {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: flex;
}

.barra-grid div input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.26);
    background: url(https://www.flaticon.com/svg/vstatic/svg/59/59089.svg?token=exp=1614064733~hmac=a6f0cce2214fdb52e7df9eec24006427) #ffffff;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

/**                                                    PROYECTO                                                  **/

.sec1Proyecto p {
    font-size: 30px;
    font-weight: 400;
}

.sec1Proyecto h2 {
    font-size: medium;
}

/**--------------FOOTER------------**/
footer {
    background-color: rgba(112, 128, 144);
    display: flex;
    justify-content: center;
}

footer div {
    background-color: rgb(112, 128, 144);
}

footer div a img {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: rgba(112, 128, 144);
    display: flex;
}

footer p {
    color: aliceblue;
    text-shadow: 3px 4px 4px #000000;
    text-align: center;
    font-size: 25px;
    background-color: rgba(112, 128, 144);
}

/*!-             MEDIA QUERY-!*/
@media screen and ((max-width: 1750px) and (min-width: 1500px)) {


    .carousel-caption {
        font-size: 30px;
        left: 50%;
    }

    .carousel-caption h5 {
        left: 40%;
    }

    .carousel-item img {
        position: static;
    }

}

@media screen and ((max-width: 1500px)) {

    /*        SEC 1       */
    .hero{
        height: 1400px;
    }

    .carousel {
        height: 1400px;
    }

    .carousel-item {
        height: 1400px;
    }
    .carousel-item img{
        height: auto;
    }

    .carousel-caption {
        width: 100%;
        height: auto;
        position: absolute;
        top: 65%;
        left: -5%;
    }
    .carousel-caption h5{
        top: 0%;
    }
    .carousel-caption p {
        width: 90%;
        height: 400px;
    }

    /*          SEC 2             */
    .barra-grid {
        height: 1200px;
    }

    /*            SEC 3            */
    .sec2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 400px 50px 500px 400px 50px 500px;
        grid-template-areas:
            "titulo"
            "foto1"
            "subtit1"
            "parrafo1"
            "foto2"
            "subtit2"
            "parrafo2"
        ;
    }

    .div2 {
        margin-bottom: 0;
    }

    .sec2 p {
        text-align: center;
    }
}

@media screen and ((max-width:1200px) and (min-width:1000px)) {
    .barra-grid {
        grid-template-columns: 3fr;
        grid-template-rows: 47% 6% 47%;
        grid-template-areas:
            "imagen1  imagen3  imagen5 "
            "barra barra barra"
            " imagen2  imagen4  imagen6"
        ;
    }
}

@media screen and (max-width: 1000px) {

    .carousel{
        height: auto;
    }
    .carousel-item img{
        height: auto;
    }
    .carousel-caption p{
        font-size: 25px;
        top:10%
    }
    .carousel-caption h5{
        top: -10%
    }
    .sec2{
        display: grid;
        grid-template-rows: 200px 400px 50px 800px 400px 50px 800px;
    }

    .barra-grid {
        grid-template-columns: 3fr;
        grid-template-rows: 47% 6% 47%;
        grid-template-areas:
            "imagen1  imagen3  imagen5 "
            "barra barra barra"
            " imagen2  imagen4  imagen6"
        ;
    }
    .sec2 h2{
        text-align: center;
    }
}
@media screen and (max-width:770px){
    .carousel-caption p{

    }
}