.preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    h2{
        @extend %titulo
    }
    p{
        button{
            background: nth($colores , 3 );
            color: black;
            border-color:black
        }
    }
}

.infoUsuario {
    h3{
        @extend %titulo;
    }
    form{
        div{
            margin-inline: 20px;
        }
    }
}
