header {
    background: rgb(112,128,144);
    background: linear-gradient(180deg, rgba(112,128,144,1) 32%, rgba(125,139,153,0.9374124649859944) 62%, rgba(224,224,224,1) 100%);
    nav {
        div {
            a {
                img {
                    width: 220px;
                    height: 150px;
                }
            }
            div {
                
                ul {
                    list-style: none;
                    width: 600px;
                    justify-content: space-between;
                    margin-right: 50px;

                    li {
                        background-color: rgb(206, 191, 191);
                        margin: 10px;
                        box-sizing: content-box;
                        border: solid #000000 5px;
                        border-radius: 10px;
                        padding: 5px;
                        text-align: center;
                        border-style: groove;
                        align-self: center;

                        &:hover {
                            border: solid white 5px;
                            border-style: groove;
                        }

                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}