.mapa{
    h2{
        @extend %titulo;
        font-size: 40px;
        text-shadow: 5px 5px 10px black;
    }
    div{
        transition: button .6 0 linear;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
        button{
            position: absolute;
            background-color: nth($colores, 1);
            border-color: nth($colores, 2);
            border-radius: 50%;
            color: black;
            border-width: 3px;
            transform: translate(-50%, -50%);
            
            & :hover{
                background-color: white;
                border-color: black;
                transform: scale(1.2);
            }
        }
    }
}