

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 224, 224);
}


.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-collapse {
    flex-grow: 0;
}

/*              MAIN             */
.carousel {
    background-color: #00000000;
}

.carousel-indicators {
    background-color: #00000000;
    height: 5px;
}

.carousel-control-next-icon {
    background-color: #000000;
    border-radius: 5px;
}

.carousel-control-prev-icon {
    background-color: #000000;
    border-radius: 5px;
}

/*            MAPA             */

#btn1{
    left: 27%;
    top: 45%;

}
#btn2{
    left: 37%;
    top: 55%;
}
#btn3{
    left: 68%;
    top: 38%;
}
#btn4{
    left: 78%;
    top: 60%;
}


/*             CONTACTOS            */

.preguntasFrecuentes div div .card-body{
    width: fit-content;
}

.infoUsuario form div .form-control{
    width: 400px;
}


/*                   TIENDA                  */
.cardT1{
    grid-area: carta1 ;
}

.cardT2{
    grid-area: carta2 ;
}

.cardT3{
    grid-area: carta3;
}

.cardT4{
    grid-area: carta4;
}

.cardT5{
    grid-area: carta5;
    row-gap: 0px;
}

.cardT6{
    grid-area: carta6;
    row-gap: 0px;
}
