/*           VARIABLES                 */

$colores: rgb(153, 142, 142), rgb(112, 128, 144), rgb(206, 191, 191), rgb(224, 224, 224);



%titulo{
    color: white;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px ;
    background-color: rgb(112, 128, 144);
    border-radius: 10px;
    text-align: center;
    padding-inline: 20px;
}
